<%= form_with(model: comment, local: true) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :commeter %>
    <%= f.text_field :commeter, id: :comment_commeter %>
  </div>

  <div class="field">
    <%= f.label :text_comment %>
    <%= f.text_area :text_comment, id: :comment_text_comment %>
  </div>

  <div class="field">
    <%= f.label :post_id %>
    <%= f.text_field :post_id, id: :comment_post_id %>
  </div>

  <div class="field">
    <%= f.label :comment_id %>
    <%= f.text_field :comment_id, id: :comment_comment_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
