<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publicidad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @publicidad.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@publicidad.image_url) %>
</p>

<p>
  <strong>Publi url:</strong>
  <%= @publicidad.publi_url %>
</p>
<% if  @usu.call %>
  <% if (@total.call || @publi.call)  %>
<%= link_to 'Edit', edit_publicidad_path(@publicidad) %> |
<%= link_to 'Back', publicidads_path %>
<% end %>
<% end %>
